@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper AuthoringTagHelpers.TagHelpers.EmailTagHelper, AuthoringTagHelpers
@model MyavanaAdminModels.MediaLinkEntityModel
@inject MyavanaAdminApiClient.ApiClient category
@inject MyavanaAdminApiClient.ApiClient Salons
@inject MyavanaAdminApiClient.ApiClient productType
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    Layout = "_Layout";
    var categories = category.GetVideoCategories();
    var userType = HttpContextAccessor.HttpContext.Request.Cookies["UserTypeId"];
}
<script>
    $(document).ready(function () {
        $('.select2').select2({ placeholder: "--Select--" });
    });
</script>
@if (Model != null)
{
    <input type="hidden" id="medaiLinkId" value="@Model.Id" />
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<style>
    .preloader {
        width: calc(100% - 200px);
        height: 100%;
        top: 0px;
        position: fixed;
        z-index: 99999;
        background: rgba(255, 255, 255, .8);
    }

        .preloader img {
            position: absolute;
            LEFT: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
        }

    .loader {
        overflow: visible;
        padding-top: 2em;
        height: 0;
        width: 2em;
    }

    .alert-success, .alert-danger, .alert-info {
        top: 110px !important;
        width: 60% !important;
        margin: 0 auto;
        z-index: 99;
        position: fixed;
        left: 50%;
        transform: translateX(-40%);
        text-align: center;
        padding: 12px;
        transition: all 1s linear;
        box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.2);
        font-size: 16px;
    }

    .alert-danger {
        color: #80172a;
        background-color: #fdd5dc;
        border-color: #fcc4ce;
    }

        .alert-danger hr {
            border-top-color: #fbacba;
        }

        .alert-danger .alert-link {
            color: #550f1c;
        }

    .alert-success {
        color: #1c6356;
        background-color: #a8ffc3;
        border-color: #13b755;
    }

        .alert-success hr {
            border-top-color: #b4e7dd;
        }

        .alert-success .alert-link {
            color: #113b33;
        }
</style>
<div id="alert-success" class="alert alert-success alert-dismissible" style="display:none; width:50%" data-keyboard="false" data-backdrop="static">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id="successMessage"></span>
</div>
<div class="alert alert-danger alert-dismissible" style="display:none; width:50%" data-keyboard="false" data-backdrop="static">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span id="failureMessage"></span>
</div>

<div class="preloader" style="display:none;">
    <div class="loader">
        <img src="~/images/loader.gif" />
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Post Video</h5>

                </div>
                <div class="ibox-content">
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Media Categories*</label>
                        <div class="col-sm-10">
                            <select class="js-example-basic-multiple form-control" asp-for="VideoCategoryId"
                                    asp-items="@categories.Result.Select(s => new SelectListItem() { Text = s.Description, Value=s.Id.ToString()})">
                                <option value="">Select Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group  row">
                        <label class="col-sm-2 col-form-label">Video*</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtVideo" placeholder="Enter Video URL" asp-for="VideoId" class="form-control">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description*</label>
                        <div class="col-sm-10">
                            <textarea id="txtDescription" rows="4" asp-for="Description" style="width:100%" placeholder="Write something"></textarea>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title*</label>

                        <div class="col-sm-10">
                            <input type="text" id="txtTitle" placeholder="Enter Title" asp-for="Title" class="form-control">
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> Hair Challenges</label>
                        <div class="col-sm-10">
                            <select class="js-example-basic-multiple form-control select2" asp-for="HairChallenges" id="hairChallenges"
                                    asp-items="@productType.GetHairChallengesList().Result.OrderBy(x => x.Description).Select(s => new SelectListItem() { Text = s.Description, Value=s.HairChallengeId.ToString()})" multiple>
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> Hair Goals</label>
                        <div class="col-sm-10">
                            <select class="js-example-basic-multiple form-control select2" asp-for="HairGoals" id="hairGoals"
                                    asp-items="@productType.GetHairGoalsList().Result.OrderBy(x => x.Description).Select(s => new SelectListItem() { Text = s.Description, Value=s.HairGoalId.ToString()})" multiple>
                                <option value="">-- Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    @if (userType == "1")
                    {
                        <div class="form-group  row">
                            <label class="col-sm-2 col-form-label">Salon</label>
                            <div class="col-sm-10">
                                <select class="js-example-basic-multiple form-control select2" id="OwnerSalonId"
                                        asp-items="@Salons.GetSalonList().Result.Select(x => new SelectListItem() { Text = x.SalonName, Value = x.SalonId.ToString() })" multiple>
                                    <option value="">Select Salon</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                    }

                    <div class="form-group row">
                        <div class="custom-control custom-switch">
                            <div class="col-sm-10">
                                <input type="checkbox" name="acceptRules" class="custom-control-input checkbox" id="ShowOnMobile" asp-for="ShowOnMobile" value="false">
                                <label class="custom-control-label" for="ShowOnMobile">Show On Mobile</label>
                                @*<input type="checkbox" class="custom-control-input" asp-for="ShowOnMobile" id="showOnMobile">
                                    <label class="custom-control-label" for="ShowOnMobile">Show On Mobile</label>*@
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>

                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white btn-sm" asp-controller="SocialMedia" asp-action="EducationalVideos">Cancel</a>
                            <button class="btn btn-primary btn-sm" onclick="SaveMediaLink()">Save Video</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var userSalonsList = [];
    var salonsList = [];
    var userList = [];
    var selectedHairChallenges, selectedHairGoals;
    $(document).ready(function () {
        debugger;
        @if(Model != null) {
            var stylishSpecialtyLength = @Model.userSalons.Count();
            if (stylishSpecialtyLength > 0) {
                        @foreach (var d in Model.userSalons)
                        {
                            @:userSalonsList.push("@d.SalonId");
                        }
            }
            @:selectedHairChallenges = @Html.Raw(Json.Serialize(Model.SelectedHairChallenges));
            @:selectedHairGoals = @Html.Raw(Json.Serialize(Model.SelectedHairGoals));

        }
        if (selectedHairChallenges != null) {
            $('#hairChallenges').val(selectedHairChallenges).trigger('change');
        }
        if (selectedHairGoals != null) {
            $('#hairGoals').val(selectedHairGoals).trigger('change');
        }
        if (userSalonsList.length > 0) {
            for (var i = 0; i < userSalonsList.length; i++) {
                salonsList.push(userSalonsList[i]);
            }
            $('#OwnerSalonId').val(salonsList);
            $('#OwnerSalonId').trigger('change');
        }
        $('#OwnerSalonId').select2({
            placeholder: "Select Salons"
        });
    });

        $(document).ready(function () {
            // Set initial checkbox value based on the checked state
            $('#ShowOnMobile').on('change', function () {
                if ($(this).is(':checked')) {
                    $(this).val('true');
                } else {
                    $(this).val('false');
                }

                // Optionally, display the current value in a debug element
                $('#checkbox-value').text($(this).val());
            });

            // Trigger change to set the initial value correctly
            $('#ShowOnMobile').trigger('change');
        });
</script>

<script src="~/js/admin/MediaLink.js"></script>
