@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<style>

    .dark-btn {
        background: #111827;
        color: #fff !important;
        border-radius: 0.375rem;
    }
</style>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse" id="menu">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element dashboardlogo">
                    <img src="~/images/Myavana Logo Black.png" class="pb-2" />
                    <a data-toggle="dropdown" class="dropdown-toggle text-dark">
                        <span class="block m-t-xs font-bold" id="lblCustomerName">Hello, @HttpContextAccessor.HttpContext.Session.GetString("Name")</span>
                    </a>
                </div>
            </li>
            @if (HttpContextAccessor.HttpContext.Session.GetString("ispaid").ToString().ToLower() == "true" || HttpContextAccessor.HttpContext.Session.GetString("isOnTrial").ToString().ToLower() == "true")
            {
                <li>
                    <a id="HairAIAnalysisId" onclick="changeColor(1)" href="@Url.Action("DigitalAssessment", "Questionaire")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Hair AI-Instant Analysis</span> </a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("HairAI", "HairProfile")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Digital Hair Analysis</span> </a>
                    @*<a href="#" onclick="OpenShopifyModal()"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Digital Hair Analysis</span> </a>*@
                </li>
            }

            <li>
                <a id="menuCollapseHairProfile" class="menuTabs" href="javascript:;" onclick="changeColor(4)"><i class="fa fa-list" aria-hidden="true"></i> <span class="nav-label" data-i18n="nav.metrics">Hair Profile</span> <span class="fa arrow"></span> </a>
                <ul id="menuUlHairProfile" class="nav nav-second-level collapse" aria-expanded="false">

                    <li>
                        <a id="healthyHairCareId" onclick="changeColor(2)" href="@Url.Action("CustomerHair", "HairProfile")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">The Healthy Hair Care Plan</span> </a>
                    </li>

                    <li>
                        <a id="hairAssessmentId" onclick="IfQuestionaireSubmitted(); changeColor(3)" href="#"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Hair Assessment</span> </a>
                    </li>
                    <li>
                        <a id="sharedHHCPId" onclick="changeColor(8)" href="@Url.Action("ViewSharedHHCP", "HairProfile")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">View Shared HHCP</span> </a>
                    </li>
                </ul>
            </li>

            @*<li>
                    <a onclick="IfQuestionaireSubmitted()" href="#"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Digital Hair Assessment</span> </a>
                </li>*@

            @*<li>
                    <a href="@Url.Action("CustomerHair", "HairProfile")"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Hair Profile</span> </a>
                </li>*@

            <li>
                <a id="bookConsultationId" onclick="BookVirtualConsultation(); changeColor(5)" href="#"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Book Consultation</span> </a>
            </li>
            <li>
                <a id="getHairKitId" onclick="GetHairKit(); changeColor(6)" href="#"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Get Hair Kit</span> </a>
            </li>
            <li>
                <a id="shareFeedbackId" onclick="ShareFeedback(); changeColor(7)" href="#"><i class="fa fa-list"></i> <span class="nav-label" data-i18n="nav.metrics">Share Feedback</span> </a>
            </li>
        </ul>
    </div>
</nav>
<div class="modal fade" id="ShopifyModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">

                <h4>Please use your existing email while making a purchase for HairAI on Shopify.</h4>
            </div>

            <div class="modal-footer">
                <div class="m-auto">
                    <button type="button" onclick="CloseShopifyModal()" id="btnCancel" class="btn btn-default dark-btn">Cancel</button>

                    <button type="button" onclick="redirectToShopify()" id="btnContinue" class="btn btn-default dark-btn" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $('#menuCollapse').click(function () {
        $('#menuCollapse').toggleClass('showList');
	});
    function BookVirtualConsultation() {
        window.open("https://calendly.com/myavana-hair-consultation/myavana-1-1-hair-consultation");
    }
    function GetHairKit() {
        window.open("https://www.myavana.com/pages/scientific-intelligence");
    }
    function ShareFeedback() {
        window.open("https://form.typeform.com/to/IUxMdZaK");
    }
	function IfQuestionaireSubmitted()
	{
        if ("@ViewBag.IsExist" == "True") {
            window.location.href = "/Questionaire/Questionnaire";
		}
		else
			window.location.href = "/Questionaire/start";
	}




    $('#menuCollapseHairProfile').click(function () {
        if ($('#menuCollapseHairProfile').hasClass('showList')) {
            $('.menuTabs').removeClass('showList');
        }
        else {
            $('.menuTabs').removeClass('showList');
            $('#menuCollapseHairProfile').toggleClass('showList');
        }
    });

    function changeColor(val) {
        $('.metismenu a').removeClass('is-active');
        localStorage.setItem('navbar', val);
    }

    $('.metismenu a').removeClass('is-active');
    if (localStorage.getItem('navbar') == 1) {
        $('#HairAIAnalysisId').addClass('is-active');
    }

    if (localStorage.getItem('navbar') == 2) {
        (localStorage.getItem('navbar') == 4)
        $('#menuCollapseHairProfile').addClass('showList');
        $('#healthyHairCareId').addClass('is-active');
    }
    if (localStorage.getItem('navbar') == 3) {
        (localStorage.getItem('navbar') == 4)
        $('#menuCollapseHairProfile').addClass('showList');
        $('#hairAssessmentId').addClass('is-active');
    }
    if (localStorage.getItem('navbar') == 8) {
        (localStorage.getItem('navbar') == 4)
        $('#menuCollapseHairProfile').addClass('showList');
        $('#sharedHHCPId').addClass('is-active');
    }
    if (localStorage.getItem('navbar') == 5) {
        $('#bookConsultationId').addClass('is-active');
    }
    if (localStorage.getItem('navbar') == 6) {
        $('#getHairKitId').addClass('is-active');
    }
    if (localStorage.getItem('navbar') == 7) {
        $('#shareFeedbackId').addClass('is-active');
    }


</script>
@*<script>
        function logout() {
            $.ajax({
                type: "GET",
                url: "/Auth/Logout",
                success: function (response) {
                    window.location.href = "../Auth/Login";
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
    </script>*@
